@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,900,800);

body{
    margin: 0 auto;
    font-family: "Raleway", Times New Roman, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
    color: #000000;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

/* CHANGE COLOR OF ROW BACKGROUNDS BASED ON POINT TOTAL */

.danger-points-color{
    background-color: #F80012
}

.high-points-color{
    background-color: #FF7800
}

.low-points-color{
    background-color: #FFB400
}

.very-low-points-color{
    background-color: #d7ff00
}

.default-color{
    background-color: white
}

/* CHANGE TABLE ROW TO DIFFERENT CURSOR ON HOVER */

.table tr{
    cursor: pointer;
}

/* Format the Drop Down Menu Header */

.dropDownHeader{
    text-align: center;
}

.blankArea{
    text-align: center;
}

li{
    max-width: 960px;
    word-wrap:break-word;
}

@media only screen and (min-width: 360px ){
    li{
        max-width: 359px;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 800px){
    li{
        max-width:760px;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 961px){
    li{
        max-width:960px;
        word-wrap:break-word;
    }
}